section.able.menu__section(data-article="able")
	h3.able__title= content.able.title
	.able__list
		each val in ['able1', 'able2', 'able3', 'able4', 'able5', 'able8']
			img.able__img(src="app/img/content/able/" + val + ".jpg" alt="Фото " + val)