header.header
	.container
		.header__wrap
			.header__logo
				.logo
					img(src="app/img/general/logo.png" alt="Минифилл")
			.header__nav
				include menu
			.header__contacts
				a.header__phone(href="tel:+74952680658")= content.header.phone
				a.header__mail(href="mailto:mf@air-bake.ru")= content.header.mail