extends ../layout/main

block variables
	- var title = 'Минифил'

block content
	include ../modules/about
	include ../modules/able
	include ../modules/partners
	include ../modules/problem
	include ../modules/advantage
	include ../modules/consult