// ХЕЛПЕРЫ
@import 'base/fonts.styl'
@import 'base/vars.styl'
@import 'base/mixins.styl'


// Общие стили
@import 'base/settings.styl'
@import 'base/general.styl'


// Секции

// header
@import 'section/header.styl'

// about
@import 'section/about.styl'

// able
@import 'section/able.styl'

// partners
@import 'section/partners.styl'

// problem
@import 'section/problem.styl'

// advantage
@import 'section/advantage.styl'

// consult
@import 'section/consult.styl'


// footer
@import 'section/footer.styl'


// Компоненты
@import "common/common.styl"