@font-face 
	font-family "OpenSansBold"
	src url("../fonts/OpenSans-Bold.ttf") format("truetype");
	font-style normal
	font-weight normal

@font-face 
	font-family "OpenSansRegular"
	src url("../fonts/OpenSans-Regular.ttf") format("truetype");
	font-style normal
	font-weight normal

@font-face 
	font-family "OpenSansExtraBold"
	src url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
	font-style normal
	font-weight normal

@font-face 
	font-family "OpenSansSemiBold"
	src url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
	font-style normal
	font-weight normal

@font-face 
	font-family "AntipastoBold"
	src url("../fonts/Antipasto-Bold.ttf") format("truetype");
	font-style normal
	font-weight normal

@font-face 
	font-family "AntipastoExtraBold"
	src url("../fonts/Antipasto-ExtraBold.ttf") format("truetype");
	font-style normal
	font-weight normal

@font-face 
	font-family "AntipastoMedium"
	src url("../fonts/Antipasto-Medium.ttf") format("truetype");
	font-style normal
	font-weight normal

@font-face 
	font-family "Arista-Fat"
	src url("../fonts/Arista-Fat.ttf") format("truetype");
	font-style normal
	font-weight normal
