// ЦВЕТА
blackColor = #010101
accentColor = #f28e2b

// РАЗМЕРЫ


// ШРИФТЫ

mainFont        = "OpenSansSemiBold", Arial, sans-serif
boldFont        = "OpenSansBold", Arial, sans-serif
extraFont       = "OpenSansExtraBold", Arial, sans-serif
regularFont       = "OpenSansRegular", Arial, sans-serif
antipastoBold   = "AntipastoBold", Arial, sans-serif
antipastoExtra  = "AntipastoExtraBold", Arial, sans-serif
antipastoSemi   = "AntipastoSemiBold", Arial, sans-serif
antipastoMedium = "AntipastoMedium", Arial, sans-serif
aristaFat       = "Arista-Fat", Arial, sans-serif
