.g-btn
	font-size 16px
	font-family boldFont 
	text-transform uppercase
	color white
	padding 10px 20px
	border 2px solid white
	border-radius 5px
	background none
	cursor pointer



.g-btn--order
	color blackColor
	border-color accentColor