.menu__list
	display flex
	@media (max-width: 960px)
		justify-content center
		padding-bottom 20px
	@media (max-width: 700px)
		display none
		position absolute
		padding-bottom 0
		flex-direction column
		top 69px
		left -10px
		right -10px
		background #FFF



.menu__link
	padding 10px 20px
	font-family extraFont
	@extend .trs
	&:hover
		color accentColor
	@media (max-width: 1200px) 
		font-size 16px
		padding 10px
	@media (max-width: 960px) 
		padding 10px 20px
		font-size 18px
	@media (max-width: 700px)
		display block
		text-transform uppercase
		&:hover
			background darken(#fff, 20%) 


.menu__humburger
	font-size 20px
	font-family extraFont
	cursor pointer
	display none
	text-align right
	justify-content flex-end
	align-items center
	span
		display block
		size(25px,3px)
		background blackColor
		margin-left 10px
		@extend .trs
		&:before,&:after
			content ""
			display block
			size(25px,3px)
			background blackColor
			@extend .trs
		&:before
			transform translateY(-8px)
		&:after
			transform translateY(5px)
	@media (max-width: 700px) 
		display flex
	@media (max-width: 480px) 
		font-size 16px

.menu__humburger--active
	span
		transform rotate(45deg)
		&:before
			opacity 0
		&:after
			transform translateY(-3px) rotate(90deg)