.able
	padding 70px 0
	background url("../img/general/able-bg.jpg") center center no-repeat
	background-size cover 

.able__title
	font-family antipastoBold
	font-size 33px
	text-transform uppercase
	text-align center
	margin-bottom 50px

.able__img
	height auto
	margin-right 30px