.header__wrap
	display flex
	justify-content space-between
	align-items center
	position relative
	@media (max-width: 960px) 
		flex-wrap: wrap
	@media (max-width: 700px)
		flex-wrap: nowrap
		height 70px

.header__logo
	.logo
		min-width 288px
	@media (max-width: 1200px)
		width 260px
		.logo
			min-width 260px
	@media (max-width: 700px)
		.logo
			min-width: 200px

.header__nav
	@media (max-width: 960px) 
		order: 1
		width 100%
		margin-top 20px
	@media (max-width: 700px) 
		width auto
		margin-top 0


.header__contacts
	text-align right
	font-family boldFont
	@media (max-width: 700px) 
		display none
		position absolute
		top 217px
		background #fff
		text-align left
		left -10px
		right -10px
		padding 10px 0 10px 20px

.header__phone
	display block
	margin-bottom 5px
	@extend .trs
	&:hover
		color accentColor
	@media (max-width: 1200px) 
		font-size 16px
	@media (max-width: 960px) 
		font-size 20px
	@media (max-width: 700px) 
		margin-bottom 15px

.header__mail
	color accentColor
	@extend .trs
	&:hover
		color blackColor
	@media (max-width: 1200px) 
		font-size 16px
	@media (max-width: 960px) 
		font-size 20px
	@media (max-width: 700px) 
		display block