.partners
	padding 80px 0

.partners__title
	@extend .title
	margin-bottom 80px

.partners__list
	display flex
	justify-content center

.partners__item
	margin-right 50px
	&:last-child
		margin-right 0

.partners__img
	@extend .trs
	&:hover
		transform: scale(1.1)